
Main/.idea/modules.xml
Main/.idea/object-detectiob.iml
Main/.idea/vcs.xml
Main/.ipynb_checkpoints/Face_Recognation-checkpoint.ipynb
Main/.ipynb_checkpoints/Main-checkpoint.ipynb
Main/AccVal_accuracy.png
Main/coco.names
Main/Datasets/test/raheem/1.jpg
Main/Datasets/test/raheem/10.jpg
Main/Datasets/test/raheem/11.jpg
Main/Datasets/test/raheem/12.jpg
Main/Datasets/test/raheem/13.jpg
Main/Datasets/test/raheem/14.jpg
Main/Datasets/test/raheem/15.jpg
Main/Datasets/test/raheem/16.jpg
Main/Datasets/test/raheem/17.jpg
Main/Datasets/test/raheem/18.jpg
Main/Datasets/test/raheem/19.jpg
Main/Datasets/test/raheem/20.jpg
Main/Datasets/test/raheem/21.jpg
Main/Datasets/test/raheem/22.jpg
Main/Datasets/test/raheem/23.jpg
Main/Datasets/test/raheem/24.jpg
Main/Datasets/test/raheem/25.jpg
Main/Datasets/test/raheem/2.jpg
Main/Datasets/test/raheem/26.jpg
Main/Datasets/test/raheem/27.jpg
Main/Datasets/test/raheem/28.jpg
Main/Datasets/test/raheem/29.jpg
Main/Datasets/test/raheem/30.jpg
Main/Datasets/test/raheem/3.jpg
Main/Datasets/test/raheem/31.jpg
Main/Datasets/test/raheem/32.jpg
Main/Datasets/test/raheem/33.jpg
Main/Datasets/test/raheem/34.jpg
Main/Datasets/test/raheem/35.jpg
Main/Datasets/test/raheem/36.jpg
Main/Datasets/test/raheem/37.jpg
Main/Datasets/test/raheem/38.jpg
Main/Datasets/test/raheem/39.jpg
Main/Datasets/test/raheem/4.jpg
Main/Datasets/test/raheem/40.jpg
Main/Datasets/test/raheem/41.jpg
Main/Datasets/test/raheem/42.jpg
Main/Datasets/test/raheem/44.jpg
Main/Datasets/test/raheem/43.jpg
Main/Datasets/test/raheem/46.jpg
Main/Datasets/test/raheem/45.jpg
Main/Datasets/test/raheem/47.jpg
Main/Datasets/test/raheem/48.jpg
Main/Datasets/test/raheem/5.jpg
Main/Datasets/test/raheem/49.jpg
Main/Datasets/test/raheem/50.jpg
Main/Datasets/test/raheem/7.jpg
Main/Datasets/test/raheem/6.jpg
Main/Datasets/test/raheem/8.jpg
Main/Datasets/test/raheem/9.jpg
Main/Datasets/test/youssef/1.jpg
Main/Datasets/test/youssef/10.jpg
Main/Datasets/test/youssef/11.jpg
Main/Datasets/test/youssef/12.jpg
Main/Datasets/test/youssef/13.jpg
Main/Datasets/test/youssef/14.jpg
Main/Datasets/test/youssef/15.jpg
Main/Datasets/test/youssef/16.jpg
Main/Datasets/test/youssef/17.jpg
Main/Datasets/test/youssef/18.jpg
Main/Datasets/test/youssef/19.jpg
Main/Datasets/test/youssef/2.jpg
Main/Datasets/test/youssef/20.jpg
Main/Datasets/test/youssef/21.jpg
Main/Datasets/test/youssef/22.jpg
Main/Datasets/test/youssef/23.jpg
Main/Datasets/test/youssef/24.jpg
Main/Datasets/test/youssef/25.jpg
Main/Datasets/test/youssef/26.jpg
Main/Datasets/test/youssef/27.jpg
Main/Datasets/test/youssef/28.jpg
Main/Datasets/test/youssef/29.jpg
Main/Datasets/test/youssef/30.jpg
Main/Datasets/test/youssef/31.jpg
Main/Datasets/test/youssef/3.jpg
Main/Datasets/test/youssef/32.jpg
Main/Datasets/test/youssef/34.jpg
Main/Datasets/test/youssef/35.jpg
Main/Datasets/test/youssef/33.jpg
Main/Datasets/test/youssef/36.jpg
Main/Datasets/test/youssef/38.jpg
Main/Datasets/test/youssef/37.jpg
Main/Datasets/test/youssef/39.jpg
Main/Datasets/test/youssef/4.jpg
Main/Datasets/test/youssef/47.jpg
Main/Datasets/test/youssef/48.jpg
Main/Datasets/test/youssef/5.jpg
Main/Datasets/test/youssef/49.jpg
Main/Datasets/test/youssef/50.jpg
Main/Datasets/test/youssef/6.jpg
Main/Datasets/test/youssef/7.jpg
Main/Datasets/test/youssef/8.jpg
Main/Datasets/test/youssef/9.jpg
Main/Datasets/train/raheem/1.jpg
Main/Datasets/train/raheem/100.jpg
Main/Datasets/train/raheem/10.jpg
Main/Datasets/train/raheem/101.jpg
Main/Datasets/train/raheem/102.jpg
Main/Datasets/train/raheem/103.jpg
Main/Datasets/train/raheem/104.jpg
Main/Datasets/train/raheem/105.jpg
Main/Datasets/train/raheem/107.jpg
Main/Datasets/train/raheem/108.jpg
Main/Datasets/train/raheem/110.jpg
Main/Datasets/train/raheem/111.jpg
Main/Datasets/train/raheem/11.jpg
Main/Datasets/train/raheem/109.jpg
Main/Datasets/train/raheem/112.jpg
Main/Datasets/train/raheem/113.jpg
Main/Datasets/train/raheem/114.jpg
Main/Datasets/train/raheem/115.jpg
Main/Datasets/train/raheem/116.jpg
Main/Datasets/train/raheem/117.jpg
Main/Datasets/train/raheem/118.jpg
Main/Datasets/train/raheem/119.jpg
Main/Datasets/train/raheem/12.jpg
Main/Datasets/train/raheem/120.jpg
Main/Datasets/train/raheem/121.jpg
